pkgbase = hyprworm
	pkgdesc = A fast and lightweight window switcher for Hyprland built in C
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/liammmcauliffe/hyprworm
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = make
	makedepends = gcc
	depends = cjson
	source = hyprworm-1.1.0.tar.gz::https://github.com/liammmcauliffe/hyprworm/archive/v1.1.0.tar.gz
	sha256sums = 7af416f24823959bc162806d846782c98dc5616994a0bfa8bc3cbc15ff345d77

pkgname = hyprworm
